<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="sr-only"> Toggle navigation</span>
        <span class="icon-bar">
        <span class="icon-bar">
        <span class="icon-bar">
      </button>
        
      {{#link-to 'welcome' class="navbar-brand"}}Home{{/link-to}}
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {{#if session.isAuthenticated}}
            <li> <a {{ action 'invalidateSession' }}>Logout</a> </li>
          {{else}}
            <li> {{#link-to 'signup'}}Sign Up{{/link-to}} </li>
            <li> {{#link-to 'login'}}Sign In{{/link-to}} </li>
          {{/if}}
      </ul>
    </div>
  </div>
</nav>

